<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config>
    <modules>
        <Mozg_Correios>
            <version>1.0.0</version>
        </Mozg_Correios>
    </modules>
    <global>
        <models>
            <mozg_correios>
                <class>Mozg_Correios_Model</class>
                <resourceModel>mozg_correios_resource</resourceModel>
            </mozg_correios>
            <mozg_correios_resource>
                <class>Mozg_Correios_Model_Resource</class>
            </mozg_correios_resource>
        </models>
        <helpers>
            <mozg_correios>
                <class>Mozg_Correios_Helper</class>
            </mozg_correios>
        </helpers>
        <blocks>
            <mozg_correios>
                <class>Mozg_Correios_Block</class>
            </mozg_correios>
        </blocks>
        <resources>
            <mozg_correios_setup>
                <setup>
                    <module>Mozg_Correios</module>
                    <class>Mozg_Correios_Model_Resource_Setup</class>
                </setup>
            </mozg_correios_setup>
        </resources>
        <template>
        </template>
        <events>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mozg_Correios after="Mage_Adminhtml">Mozg_Correios_Adminhtml</Mozg_Correios>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mozg_Correios>
                    <files>
                        <default>Mozg_Correios.csv</default>
                    </files>
                </Mozg_Correios>
            </modules>
        </translate>
        <layout>
            <updates>
                <mozg_correios>
                    <file>mozg_correios.xml</file>
                </mozg_correios>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <mozg_correios_prepare_layout_before>
                        <class>mozg_correios/observer_adminhtml_coreBlockAbstractPrepareLayoutBefore</class>
                        <method>addMassAction</method>
                    </mozg_correios_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <frontend>
        <!--<events>
            <core_block_abstract_to_html_after>
                <observers>
                    <mozg_correios_html_after>
                        <class>mozg_correios/observer_abstractHtml</class>
                        <method>AfterRenderHtml</method>
                    </mozg_correios_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>-->
        <layout>
            <updates>
                <mozg_correios>
                    <file>mozg_correios.xml</file>
                </mozg_correios>
            </updates>
        </layout>
        <routers>
            <mozg_correios>
                <use>standard</use>
                <args>
                    <module>Mozg_Correios</module>
                    <frontName>mozg_correios</frontName>
                </args>
            </mozg_correios>
        </routers>
        <translate>
            <modules>
                <Mozg_Correios>
                    <files>
                        <default>Mozg_Correios.csv</default>
                    </files>
                </Mozg_Correios>
            </modules>
        </translate>
    </frontend>
    <default>
        <carriers>
            <mozg_correios>
                <!-- BASE -->
                <model>Mozg_Correios_Model_Correios_Carrier</model>
                <active>0</active>
                <sort_order>800</sort_order>
                <title>Correios (powered by MOZG)</title>
                <allowed_methods>41106,41262,40010,40215,40169,40290,40819,04014,40045,04510</allowed_methods>
                <free_method></free_method>
                <!--<max_package_weight>30</max_package_weight>-->
                <handling_type>F</handling_type>
                <!--<handling_action>O</handling_action>-->
                <handling_fee>0</handling_fee>
                <showmethod>1</showmethod>
                <debug>1</debug>
                <sallowspecific>1</sallowspecific>
                <specificcountry>BR</specificcountry>
                <!-- DEFAULT -->
                <product_attribute_width>ship_width</product_attribute_width>
                <product_attribute_length>ship_length</product_attribute_length>
                <product_attribute_height>ship_height</product_attribute_height>
                <unit_of_measure>KGS</unit_of_measure>
                <formato_titulo>%s - Em média %d dia(s) - %s</formato_titulo>
                <display_result_error>1</display_result_error>
                <active_tracking>1</active_tracking>
                <!-- DEFAULT -->
                <formato>1</formato><!-- caixa -->
                <cod_admin>17000190</cod_admin>
                <senha_admin>n5f9t8</senha_admin>
                <usuario_sro>ECT</usuario_sro>
                <senha_sro>SRO</senha_sro>
                <!-- SIGEP -->
                <is_sandbox>1</is_sandbox>
                <usuario>sigep</usuario>
                <senha>n5f9t8</senha>
                <cod_administrativo>17000190</cod_administrativo>
                <numero_contrato>9992157880</numero_contrato>
                <cartao_postagem>0067599079</cartao_postagem>
                <cnpj>34028316000103</cnpj>
                <diretoria>10</diretoria>
                <logo_etiqueta>default/logo-etiqueta-2016.png</logo_etiqueta>
                <servico_de_postagem></servico_de_postagem><!-- 04162 -->
                <active_block_sales_order_view>1</active_block_sales_order_view>
            </mozg_correios>
            <mozg_correios_exportafacil>
                <!-- BASE -->
                <model>Mozg_Correios_Model_Correiosexportafacil_Carrier</model>
                <active>0</active>
                <sort_order>810</sort_order>
                <title>Correios Exporta Fácil (powered by MOZG)</title>
                <allowed_methods>110,128,209</allowed_methods>
                <free_method></free_method>
                <!--<max_package_weight>30</max_package_weight>-->
                <handling_type>F</handling_type>
                <!--<handling_action>O</handling_action>-->
                <handling_fee>0</handling_fee>
                <showmethod>1</showmethod>
                <debug>1</debug>
                <sallowspecific>1</sallowspecific>
<specificcountry>XA,AF,ZA,AL,DE,AD,AO,AI,AG,AN,SA,DZ,AR,AM,AW,XB,AU,AT,AZ,BS,BH,BD,BB,BY,BE,BZ,BJ,BM,BO,BA,BW,BN,BG,BF,BI,BT,CV,CM,KH,CA,XC,QA,KY,KZ,CF,TD,CL,CN,CY,CX,SG,CC,CO,KM,CD,CG,CK,KP,KR,CI,CR,HR,CU,DK,DJ,DM,DO,EG,SV,AE,EC,ER,SK,SI,ES,US,EE,ET,FK,FO,FJ,PH,FI,FR,GA,GM,GH,GE,GS,GI,GB,GD,GR,GL,GP,GU,GT,GG,GY,GF,GN,GW,GQ,HT,HN,HK,HU,YE,XD,IN,ID,IR,IQ,IE,IS,IL,IT,JM,JP,JE,JO,KI,KW,LA,LS,LV,LB,LR,LY,LI,LT,LU,MO,MK,MG,MY,MW,MV,ML,MT,IM,MP,MA,MH,MQ,MU,MR,YT,MX,MM,FM,XG,MZ,MD,MC,MN,MS,ME,NA,NR,NP,NI,NE,NG,NU,NF,NO,NC,NZ,OM,NL,PW,PS,PA,PG,PK,PY,PE,PN,PF,PL,PR,PT,KE,KG,RE,RO,RW,RU,EH,PM,SB,WS,AS,SM,SH,LC,KN,ST,VC,SN,SL,RS,SC,SY,SO,LK,SZ,SD,SE,CH,SR,TJ,TH,TW,TZ,CZ,TF,TP,TG,TO,TK,TT,XE,TN,TC,TM,TR,TV,UA,UG,UY,UZ,VU,VA,VE,VN,VI,VG,XF,WF,ZM,ZW</specificcountry>
                <!-- DEFAULT -->
                <product_attribute_width>ship_width</product_attribute_width>
                <product_attribute_length>ship_length</product_attribute_length>
                <product_attribute_height>ship_height</product_attribute_height>
                <unit_of_measure>KGS</unit_of_measure>
                <prazo_entrega>1</prazo_entrega>
                <msgprazo>%s - Average %d day(s)</msgprazo>
                <display_result_error>1</display_result_error>
                <!-- DEFAULT -->
                <estado_origem>SP</estado_origem>
                <localidade>C</localidade>
                <formato>1</formato>
            </mozg_correios_exportafacil>
        </carriers>
    </default>
    <crontab>
        <jobs>
            <mozg_correios_tracking>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr><!-- Este cron será executado a cada X minutos -->
                </schedule>
                <run>
                    <model>mozg_correios/cron::execute</model>
                </run>
            </mozg_correios_tracking>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <Mozg_Correios/>
            </modules>
        </suite>
    </phpunit>
</config>
